/* line 1, ../sass/sections/_header.scss */
.container {
  max-width: 1195px;
}

/* line 5, ../sass/sections/_header.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #31353e;
}

/* line 12, ../sass/sections/_header.scss */
.header {
  height: 125px;
  background-color: #edeff1;
}
/* line 16, ../sass/sections/_header.scss */
.header .logo {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
}
/* line 20, ../sass/sections/_header.scss */
.header .logo a {
  color: #31353e;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
/* line 27, ../sass/sections/_header.scss */
.header .logo p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #dd4b2b;
}

/* line 36, ../sass/sections/_header.scss */
.navbar {
  padding: 0;
}
/* line 39, ../sass/sections/_header.scss */
.navbar-nav {
  flex-direction: row;
}

/* line 44, ../sass/sections/_header.scss */
.nav-link {
  margin-left: 2em;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 24px;
  color: #31353e;
}

/* line 1, ../sass/sections/_welcome-section.scss */
.welcome-section {
  min-height: 100vh;
  margin-top: 125px;
  padding: 100px 0;
  background: url("../../img/bg-img.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 12, ../sass/sections/_welcome-section.scss */
.welcome-section .row {
  margin-bottom: 50px;
}
/* line 16, ../sass/sections/_welcome-section.scss */
.welcome-section-img {
  margin-bottom: 20px;
}
/* line 20, ../sass/sections/_welcome-section.scss */
.welcome-section-container {
  max-width: 1100px;
}
/* line 26, ../sass/sections/_welcome-section.scss */
.welcome-section-item h3 {
  margin-bottom: 15px;
}
/* line 30, ../sass/sections/_welcome-section.scss */
.welcome-section-item p {
  padding: 0 15px;
  line-height: 30px;
}

/* line 37, ../sass/sections/_welcome-section.scss */
.main-heading {
  font-family: "Roboto Slab", serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 48px;
  margin-bottom: 80px;
}
/* line 43, ../sass/sections/_welcome-section.scss */
.main-heading h2 {
  font-size: 72px;
  font-weight: 300;
}
/* line 48, ../sass/sections/_welcome-section.scss */
.main-heading p {
  font-size: 30px;
  font-weight: 700;
}

/* line 54, ../sass/sections/_welcome-section.scss */
.btn-lg {
  font-size: 18px;
  line-height: 30px;
  border-radius: 27px;
  padding: 10px 50px;
}

/* line 61, ../sass/sections/_welcome-section.scss */
.btn-primary {
  font-family: "Roboto Slab", serif;
  background-color: #fff;
  color: #612316;
  border-color: #fff;
}

/* line 68, ../sass/sections/_welcome-section.scss */
.row {
  padding-left: 0;
  list-style-type: none;
}

/* line 73, ../sass/sections/_welcome-section.scss */
.header-section {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

/* line 1, ../sass/sections/_our-news.scss */
.our-news {
  background-color: #edeff1;
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 9, ../sass/sections/_our-news.scss */
.our-news h3 {
  margin-bottom: 80px;
}
/* line 13, ../sass/sections/_our-news.scss */
.our-news-img {
  margin-bottom: 30px;
}
/* line 17, ../sass/sections/_our-news.scss */
.our-news .btn-primary {
  color: #4e5159;
  font-family: "Roboto", sans-serif;
}
/* line 22, ../sass/sections/_our-news.scss */
.our-news .btn-lg {
  font-size: 15px;
}

/* line 27, ../sass/sections/_our-news.scss */
.list-item {
  line-height: 30px;
}
/* line 30, ../sass/sections/_our-news.scss */
.list-item h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
/* line 36, ../sass/sections/_our-news.scss */
.list-item p {
  padding: 0 30px;
  margin-bottom: 30px;
}

/* line 1, ../sass/sections/_newsletter.scss */
.newsletter {
  padding: 80px 0;
  background: url("../../img/bg-second.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/* line 10, ../sass/sections/_newsletter.scss */
.newsletter .container {
  max-width: 533px;
}
/* line 14, ../sass/sections/_newsletter.scss */
.newsletter header {
  margin-bottom: 30px;
}
/* line 17, ../sass/sections/_newsletter.scss */
.newsletter header h3 {
  line-height: 48px;
}
/* line 21, ../sass/sections/_newsletter.scss */
.newsletter header p {
  line-height: 24px;
}

/* line 27, ../sass/sections/_newsletter.scss */
.input-group {
  justify-content: center;
}
/* line 30, ../sass/sections/_newsletter.scss */
.input-group button {
  position: relative;
  left: -10%;
}

/* line 36, ../sass/sections/_newsletter.scss */
.form-input {
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  position: relative;
  width: 530px;
  left: 10%;
  padding-left: 25px;
}
/* line 45, ../sass/sections/_newsletter.scss */
.form-input::placeholder {
  color: #f3f4f6;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  opacity: 0.7;
}
