/* line 1, ../sass/sections/_header.scss */
.container {
  max-width: 1165px;
}

/* line 5, ../sass/sections/_header.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/* line 11, ../sass/sections/_header.scss */
.header {
  height: 125px;
  color: #31353e;
  background-color: #fff;
}
/* line 16, ../sass/sections/_header.scss */
.header .logo {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
}
/* line 20, ../sass/sections/_header.scss */
.header .logo a {
  color: #31353e;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
/* line 27, ../sass/sections/_header.scss */
.header .logo p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #dd4b2b;
}

/* line 36, ../sass/sections/_header.scss */
.navbar {
  padding: 0;
}
/* line 39, ../sass/sections/_header.scss */
.navbar-nav {
  flex-direction: row;
}

/* line 44, ../sass/sections/_header.scss */
.nav-link {
  margin-left: 2em;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 24px;
  color: #31353e;
}

/* line 1, ../sass/sections/_welcome-section.scss */
.welcome-section {
  min-height: 100vh;
  margin-top: 125px;
  background: url("../../img/bg-img.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 11, ../sass/sections/_welcome-section.scss */
.welcome-section .row {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 50px;
}
/* line 17, ../sass/sections/_welcome-section.scss */
.welcome-section-img {
  margin-bottom: 20px;
}
/* line 21, ../sass/sections/_welcome-section.scss */
.welcome-section-container {
  max-width: 1100px;
}
/* line 27, ../sass/sections/_welcome-section.scss */
.welcome-section .list-item h3 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
/* line 35, ../sass/sections/_welcome-section.scss */
.welcome-section .list-item p {
  line-height: 30px;
}

/* line 43, ../sass/sections/_welcome-section.scss */
.main-heading {
  font-family: "Roboto Slab", serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 48px;
  margin-bottom: 80px;
}
/* line 49, ../sass/sections/_welcome-section.scss */
.main-heading h2 {
  font-size: 72px;
  font-weight: 300;
}
/* line 54, ../sass/sections/_welcome-section.scss */
.main-heading p {
  font-size: 30px;
  font-weight: 700;
}

/* line 60, ../sass/sections/_welcome-section.scss */
.btn-lg {
  font-size: 18px;
  line-height: 30px;
  border-radius: 27px;
  padding: 10px 30px;
}

/* line 67, ../sass/sections/_welcome-section.scss */
.btn-primary {
  font-family: "Roboto Slab", serif;
  background-color: #fff;
  color: #612316;
  border-color: #fff;
}
