/* line 1, ../sass/base/_reset.scss */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 7, ../sass/base/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 14, ../sass/base/_reset.scss */
input:active {
  color: none;
  border-color: none;
}

/* line 1, ../sass/sections/_header.scss */
.container {
  max-width: 1195px;
}

/* line 5, ../sass/sections/_header.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #31353e;
}

/* line 12, ../sass/sections/_header.scss */
.header {
  height: 125px;
  background-color: #edeff1;
}
/* line 16, ../sass/sections/_header.scss */
.header .logo {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
}
/* line 20, ../sass/sections/_header.scss */
.header .logo a {
  color: #31353e;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
/* line 27, ../sass/sections/_header.scss */
.header .logo p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #dd4b2b;
}
/* line 34, ../sass/sections/_header.scss */
.header .logo .hvr-rectangle-out:before {
  margin: -5px -15px;
}

/* line 40, ../sass/sections/_header.scss */
.navbar {
  padding: 0;
}
/* line 43, ../sass/sections/_header.scss */
.navbar-nav {
  flex-direction: row;
}

/* line 48, ../sass/sections/_header.scss */
.nav-link {
  margin-left: 2em;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 24px;
  color: #31353e;
}

/* line 58, ../sass/sections/_header.scss */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #edeff1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 72, ../sass/sections/_header.scss */
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dd4b2b;
  border-color: #dd4b2b;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 25px;
  margin: -5px -15px;
}

/* line 94, ../sass/sections/_header.scss */
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}

/* line 97, ../sass/sections/_header.scss */
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 1, ../sass/sections/_welcome-section.scss */
.welcome-section {
  min-height: 100vh;
  margin-top: 125px;
  padding: 100px 0;
  background: url("../../img/bg-img.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  z-index: 2;
}
/* line 10, ../sass/sections/_welcome-section.scss */
.welcome-section .row {
  margin-bottom: 50px;
}
/* line 14, ../sass/sections/_welcome-section.scss */
.welcome-section-img {
  margin-bottom: 20px;
}
/* line 18, ../sass/sections/_welcome-section.scss */
.welcome-section-container {
  max-width: 1100px;
}
/* line 24, ../sass/sections/_welcome-section.scss */
.welcome-section .list-item h3 {
  margin-bottom: 15px;
}
/* line 28, ../sass/sections/_welcome-section.scss */
.welcome-section .list-item p {
  padding: 0 15px;
  line-height: 30px;
}

/* line 35, ../sass/sections/_welcome-section.scss */
.main-heading {
  font-family: "Roboto Slab", serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 48px;
  margin-bottom: 80px;
}
/* line 41, ../sass/sections/_welcome-section.scss */
.main-heading h2 {
  font-size: 72px;
  font-weight: 300;
}
/* line 46, ../sass/sections/_welcome-section.scss */
.main-heading p {
  font-size: 30px;
  font-weight: 700;
}

/* line 54, ../sass/sections/_welcome-section.scss */
.btn-lg {
  font-size: 18px;
  line-height: 30px;
  border-radius: 27px;
  padding: 10px 50px;
}
/* line 61, ../sass/sections/_welcome-section.scss */
.btn-primary {
  font-family: "Roboto Slab", serif;
  background-color: #fff;
  color: #612316;
  border-color: #fff;
}

/* line 69, ../sass/sections/_welcome-section.scss */
.header-section {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

/* line 76, ../sass/sections/_welcome-section.scss */
.gradient {
  position: relative;
}
/* line 79, ../sass/sections/_welcome-section.scss */
.gradient:after {
  content: '';
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(5, 24, 76, 0) 84%, rgba(6, 28, 91, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* line 91, ../sass/sections/_welcome-section.scss */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 1, ../sass/sections/_our-news.scss */
.our-news {
  background-color: #edeff1;
  min-height: 100vh;
  padding: 80px 0;
}
/* line 6, ../sass/sections/_our-news.scss */
.our-news h3 {
  margin-bottom: 80px;
}
/* line 10, ../sass/sections/_our-news.scss */
.our-news-img {
  margin-bottom: 30px;
}
/* line 14, ../sass/sections/_our-news.scss */
.our-news .btn-primary {
  color: #4e5159;
  font-family: "Roboto", sans-serif;
}
/* line 19, ../sass/sections/_our-news.scss */
.our-news .btn-lg {
  font-size: 15px;
}
/* line 23, ../sass/sections/_our-news.scss */
.our-news .list-item {
  line-height: 30px;
  margin-bottom: 20px;
}
/* line 27, ../sass/sections/_our-news.scss */
.our-news .list-item h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
/* line 33, ../sass/sections/_our-news.scss */
.our-news .list-item p {
  padding: 0 30px;
  margin-bottom: 30px;
}

/* line 1, ../sass/sections/_newsletter.scss */
.newsletter {
  padding: 80px 0;
  background: url("../../img/bg-second.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  z-index: 2;
}
/* line 8, ../sass/sections/_newsletter.scss */
.newsletter .container {
  max-width: 533px;
}
/* line 12, ../sass/sections/_newsletter.scss */
.newsletter header {
  margin-bottom: 30px;
}
/* line 15, ../sass/sections/_newsletter.scss */
.newsletter header h3 {
  line-height: 48px;
}
/* line 19, ../sass/sections/_newsletter.scss */
.newsletter header p {
  line-height: 24px;
}

/* line 27, ../sass/sections/_newsletter.scss */
.input-group button {
  position: relative;
  left: -5%;
}

/* line 33, ../sass/sections/_newsletter.scss */
.form-input {
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  position: relative;
  width: 530px;
  left: 5%;
  padding-left: 25px;
}
/* line 42, ../sass/sections/_newsletter.scss */
.form-input::placeholder {
  color: #f3f4f6;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  opacity: 0.7;
}

/* line 1, ../sass/sections/_info-section.scss */
.info-section {
  padding: 60px 0;
  min-height: 100vh;
  color: #191b29;
}
/* line 6, ../sass/sections/_info-section.scss */
.info-section h3 {
  margin-bottom: 20px;
}
/* line 10, ../sass/sections/_info-section.scss */
.info-section p {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}
/* line 16, ../sass/sections/_info-section.scss */
.info-section .row:first-child {
  margin-bottom: 50px;
}
/* line 20, ../sass/sections/_info-section.scss */
.info-section-img {
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
/* line 25, ../sass/sections/_info-section.scss */
.info-section .list-item {
  margin-bottom: 20px;
}

/* line 32, ../sass/sections/_info-section.scss */
.btn-orange {
  font-family: "Roboto Slab", serif;
  background-color: #dd4b2b;
  border-color: #dd4b2b;
  color: #fff;
}
/* line 39, ../sass/sections/_info-section.scss */
.btn-violet {
  font-family: "Roboto Slab", serif;
  background-color: #4b4e73;
  border-color: #4b4e73;
  color: #fff;
}

/* line 1, ../sass/sections/_footer.scss */
.footer {
  background-color: #d75d0e;
  padding: 60px 0;
}
/* line 5, ../sass/sections/_footer.scss */
.footer .container {
  max-width: 933px;
}
/* line 9, ../sass/sections/_footer.scss */
.footer a {
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}
