$txt-color:                     #31353e;
$color-header:                  #dd4b2b;
$color-white:                   #fff;
$color-btn:                     #612316;
$color-btn-secondary:           #4e5159;
$color-dark:                    #191b29;
$bg-dark-btn:                   #4b4e73;
$bg-light-btn:                  #dd4b2b;
$bg-orange:                     #d75d0e;                   

$font-light:                      300;
$font-normal:                     400;
$font-bold:                       700;

$font-header:                     'Roboto Slab', serif;
$font-txt:                        'Roboto', sans-serif;
$font-btn:                        'Roboto Slab', serif;

