.container {
    max-width: 1165px;
}

body {
    font-family: $font-txt;
    font-weight: $font-light;
    font-size: 15px;
}

.header {
    height: 125px;
    color: $txt-color;
    background-color: $color-white;

    & .logo {
        font-family: $font-header;
        margin-bottom: 0;
        
        a {
            color: $txt-color;
            font-size: 36px;
            font-weight: $font-bold;
            line-height: 36px;
        }

        p {
            font-size: 16px;
            font-weight: $font-normal;
            letter-spacing: 0.96px;
            color: $color-header;
        }
    }
}

.navbar {
    padding: 0;

    &-nav {
        flex-direction: row;
    }
}

.nav-link {
    margin-left: 2em;
    font-size: 18px;
    font-family: $font-header;
    font-weight: $font-normal;
    line-height: 24px;
    color: $txt-color;
}