.newsletter {
    padding: 80px 0;
    background: url('../../img/bg-second.png') no-repeat center center;
    background-size: cover;
    color: $color-white;
    z-index: 2;

    & .container {
        max-width: 533px;
    }

    header {
        margin-bottom: 30px;

        h3 {
            line-height: 48px;
        }

        p {
            line-height: 24px;
        }
    }
}

.input-group {
    justify-content: center;

    button {
        position: relative;
        left: -10%;
    }
}

.form-input {
    border-radius: 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    position: relative;
    width: 530px;
    left: 10%;
    padding-left: 25px;

    &::placeholder {
        color: #f3f4f6;
        font-size: 18px;
        font-weight: $font-normal;
        line-height: 30px;
        font-family: $font-header; 
        opacity: 0.7;
    }
}