.our-news {
    background-color: $bg-light;
    min-height: 100vh;
    padding: 80px 0;

    h3 {
        margin-bottom: 80px;
    }

    &-img {
        margin-bottom: 30px;
    }

    & .btn-primary {
        color: $color-btn-secondary;
        font-family: $font-txt;
    }

    & .btn-lg {
        font-size: 15px;
    }

    & .list-item {
        line-height: 30px;
        margin-bottom: 20px;
    
        h4 {
            font-size: 24px;
            font-weight: $font-bold;
            font-family: $font-header;
        }
    
        p {
           padding: 0 30px;
           margin-bottom: 30px;
        }
    }
}

